
<footer  th:fragment="footer" class="footer">
    <style>
        .footer {
            position: fixed;
            left: 0;
            bottom: 0;
            width: 100%;
            background-color: lightblue;
            color: black;
            text-align: center;
        }
    </style>
    <div class="footer">
        <p>Ce site a été réalisé par Quentin TOURNIER</p>
    </div>
    <script type="text/javascript" src="/webjars/jquery/jquery.min.js"></script>
    <script type="text/javascript" src="/webjars/bootstrap/js/bootstrap.min.js"></script>
</footer>
